snippet launch "Basic launch" bA
<launch>
	$0
</launch>
endsnippet

snippet node "Create a node" bA
<node name="$1" pkg="$2" type="$3"/>
endsnippet

snippet arg "An argument" bA
<arg name="$1" default="$2" doc="$3" /> $0
endsnippet
