snippet version "Tag for the xml version" bA
<?xml version="${1:1.0}" ?>
endsnippet

snippet > "One line section" bA
<$1/>$0
endsnippet

snippet < "New section" bA
<$1$2>$3</$1> $0
endsnippet

snippet ! "Comment" At
<!-- ${1:${VISUAL}} -->
endsnippet

